*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: reload;
    src: url('../font/Chapbook.ttf');
}

* {
    font-family: reload;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
